backend ampq-out-rabbitmq
  balance leastconn
  mode tcp
  option tcpka
  server rabbitmq-1-tcp6 rabbitmq-1:5672 resolve-net ::/0
  server rabbitmq-2-tcp6 rabbitmq-2:5672 resolve-net ::/0
  server rabbitmq-3-tcp6 rabbitmq-3:5672 resolve-net ::/0

backend http-out-rabbitmq
  cookie server insert indirect nocache
  server rabbitmq-1-tcp6 rabbitmq-1:15672 cookie XXXXXXXX resolve-net ::/0
  server rabbitmq-2-tcp6 rabbitmq-2:15672 cookie XXXXXXXX resolve-net ::/0
  server rabbitmq-3-tcp6 rabbitmq-3:15672 cookie XXXXXXXX resolve-net ::/0

frontend http-in
  ...
  acl rabbitmq hdr(host) -m str rabbitmq.homeware.ovh
  bind :::80
  ...
  http-request redirect scheme https if rabbitmq

frontend https-in
  ...
  acl rabbitmq hdr(host) -m str rabbitmq.homeware.ovh
  bind :::443 crt /usr/local/etc/certs/homeware.ovh.pem ssl alpn h2,http/1.1
  ...
  use_backend http-out-rabbitmq if rabbitmq

frontend amqp-in
  bind :::5671 crt /usr/local/etc/certs/homeware.ovh.pem ssl
  default_backend ampq-out-rabbitmq
  mode tcp
